* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    /* background-color: #ffffff; */
}

.container {
    min-height: 100vh;
    margin: 0 auto;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-group {
    margin: 20px 0;
    position: relative;
}

.input-group label {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 15px;
    font-size: 22px;
    pointer-events: none;
    color: rgb(218, 223, 223);
    padding: 0 5px;
    transition: .5s;
}

.input-group input {
    width: 400px;
    height: 100px;
    color: white;
    font-size: 30px;
    padding: 0 15px;
    border: 1.2px solid rgb(228, 223, 223);
    background: transparent;
    outline: none;
    border-radius: 5px;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: 0;
    background-color: #000000;
    font-size: 22px;
}